
:root{--white: "#ffffffff";
    --gunmetal: hsla(196, 53%, 17%, 1);
    --cambridge-blue: hsla(141, 13%, 51%, 1);
    }

body{
    border: 0;
    margin:0;
    padding:0;
}

header,body,footer{
    font-family: 'Ubuntu', sans-serif;
}

footer,
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
    opacity: 1;
    margin-bottom: 10%;
    border-bottom:2px solid rgb(0, 120, 156);
    padding-left: 5em;
    padding-right: 10%;
}
nav ul {
    list-style-type: none;  
}

.cv-image{
    border-radius: 95%;
    width: 20%;
}

.flex-div-around {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-div{
    padding-right: 20%;
    padding-left: 20%;
}